
      <td><%= millinginv.part_number %></td>
      <td><%= millinginv.description %></td>
      <td><%= millinginv.balance %></td>
      <td><%= millinginv.location %></td>
      <td><%= millinginv.number_of_checkouts %></td>