



<td><%= runlist.Job %></td>
<td><%= runlist.Customer %></td> 
<td><%= runlist.Job_Sched_End %></td> <!-- ship date as last op on routing? -->
<td><%= runlist.Make_Quantity %></td>
<td><%= runlist.Material %></td>
<td><%= runlist.Part_Number %></td>
<td><%= runlist.Description %></td>
<td><%= runlist.WC_Vendor %></td>
<td><%= runlist.currentOp %></td> <!-- calc location from sequence -->
<td><%= runlist.employee %></td>
<td><%= runlist.matWaiting %></td>

<!--
<td><%= runlist.Job_Operation %></td>
<td><%= runlist.Operation_Service %></td>  
<td><%= runlist.Vendor %></td>  
<td><%= runlist.Sched_Start %></td>
<td><%= runlist.Sched_End %></td>
<td><%= runlist.Sequence %></td>
<td><%= runlist.Order_Date %></td>
<td><%= runlist.Rev %></td>
<td><%= runlist.Order_Quantity %></td>
<td><%= runlist.Extra_Quantity %></td>
<td><%= runlist.Pick_Quantity %></td>
<td><%= runlist.Open_Operations %></td>
<td><%= runlist.Completed_Quantity %></td>
<td><%= runlist.Shipped_Quantity %></td>
<td><%= runlist.FG_Transfer_Qty %></td>
<td><%= runlist.In_Production_Quantity %></td>
<td><%= runlist.Certs_Required %></td>
<td><%= runlist.Act_Scrap_Quantity %></td>
<td><%= runlist.Customer_PO %></td>
<td><%= runlist.Customer_PO_LN %></td>
<td><%= runlist.Job_Sched_End %></td>
<td><%= runlist.Job_Sched_Start %></td>
<td><%= runlist.Note_Text %></td>
<td><%= runlist.Released_Date %></td>
<td><%= runlist.Material %></td>
<td><%= runlist.Mat_Vendor %></td>
<td><%= runlist.Mat_Description %></td>
<td><%= runlist.employee %></td>
<td><%= runlist.dots %></td>
<td><%= runlist.currentOp %></td>
<td><%= runlist.matWaiting %></td>
-->

<!--
<div id="<%= dom_id runlist %>">
  <p>
    <strong>Job:</strong>
    <%= runlist.Job %>
  </p>

  <p>
    <strong>Job operation:</strong>
    <%= runlist.Job_Operation %>
  </p>

  <p>
    <strong>Wc vendor:</strong>
    <%= runlist.WC_Vendor %>
  </p>

  <p>
    <strong>Operation service:</strong>
    <%= runlist.Operation_Service %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= runlist.Vendor %>
  </p>

  <p>
    <strong>Sched start:</strong>
    <%= runlist.Sched_Start %>
  </p>

  <p>
    <strong>Sched end:</strong>
    <%= runlist.Sched_End %>
  </p>

  <p>
    <strong>Sequence:</strong>
    <%= runlist.Sequence %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= runlist.Customer %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= runlist.Order_Date %>
  </p>

  <p>
    <strong>Part number:</strong>
    <%= runlist.Part_Number %>
  </p>

  <p>
    <strong>Rev:</strong>
    <%= runlist.Rev %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= runlist.Description %>
  </p>

  <p>
    <strong>Order quantity:</strong>
    <%= runlist.Order_Quantity %>
  </p>

  <p>
    <strong>Extra quantity:</strong>
    <%= runlist.Extra_Quantity %>
  </p>

  <p>
    <strong>Pick quantity:</strong>
    <%= runlist.Pick_Quantity %>
  </p>

  <p>
    <strong>Make quantity:</strong>
    <%= runlist.Make_Quantity %>
  </p>

  <p>
    <strong>Open operations:</strong>
    <%= runlist.Open_Operations %>
  </p>

  <p>
    <strong>Completed quantity:</strong>
    <%= runlist.Completed_Quantity %>
  </p>

  <p>
    <strong>Shipped quantity:</strong>
    <%= runlist.Shipped_Quantity %>
  </p>

  <p>
    <strong>Fg transfer qty:</strong>
    <%= runlist.FG_Transfer_Qty %>
  </p>

  <p>
    <strong>In production quantity:</strong>
    <%= runlist.In_Production_Quantity %>
  </p>

  <p>
    <strong>Certs required:</strong>
    <%= runlist.Certs_Required %>
  </p>

  <p>
    <strong>Act scrap quantity:</strong>
    <%= runlist.Act_Scrap_Quantity %>
  </p>

  <p>
    <strong>Customer po:</strong>
    <%= runlist.Customer_PO %>
  </p>

  <p>
    <strong>Customer po ln:</strong>
    <%= runlist.Customer_PO_LN %>
  </p>

  <p>
    <strong>Job sched end:</strong>
    <%= runlist.Job_Sched_End %>
  </p>

  <p>
    <strong>Job sched start:</strong>
    <%= runlist.Job_Sched_Start %>
  </p>

  <p>
    <strong>Note text:</strong>
    <%= runlist.Note_Text %>
  </p>

  <p>
    <strong>Released date:</strong>
    <%= runlist.Released_Date %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= runlist.Material %>
  </p>

  <p>
    <strong>Mat vendor:</strong>
    <%= runlist.Mat_Vendor %>
  </p>

  <p>
    <strong>Mat description:</strong>
    <%= runlist.Mat_Description %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= runlist.employee %>
  </p>

  <p>
    <strong>Dots:</strong>
    <%= runlist.dots %>
  </p>

  <p>
    <strong>Currentop:</strong>
    <%= runlist.currentOp %>
  </p>

  <p>
    <strong>Matwaiting:</strong>
    <%= runlist.matWaiting %>
  </p>

</div>

-->