<% i = 0 %>
<!-- If any dots coming up for the department -->
  <div class="card text-bg-dark"  style="border-radius: 20px, 20px">
    <% if @dots == true %>
      <div class="row">
        <% if @oneDots.any? %>
          <div class="col">
            <div class=" text-bg-info align-items-stretch"  style="border-radius: 20px">
              <div class="text-center">
                <% if @oneDots.count > 1 then oneCount = "Dots" else oneCount = "Dot" end %>
                <strong><u>Single <%= oneCount %></u></strong>
              </div>
              <div class="text-center">
                <% @oneDots.each do |dot| %>
                  Job <strong><%= dot[0] %></strong> Starting <strong><%= dot[1] %></strong>
                 </br>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% if @twoDots.any? %>
          <div class="col ">
            <div class=" text-bg-warning"  style="border-radius: 20px"  style="height: 100%">
              <div class="text-center">
                <% if @twoDots.count > 1 then twoCount = "Dots" else twoCount = "Dot" end %>
                <strong><u>Double <%= twoCount %></u></strong>
              </div>
              <div class="text-center">
                  <% @twoDots.each do |dot| %>
                    Job <strong><%= dot[0] %></strong> Starting <strong><%= dot[1] %></strong>
                    </br>
                  <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% if @threeDots.any? %>
          <div class="col">
            <div class="text-bg-danger"  style="border-radius: 20px">
              <div class="text-center">
                <% if @threeDots.count > 1 then threeCount = "Dots" else threeCount = "Dot" end %>
                <strong><u>Triple <%= threeCount %></u></strong>
              </div>
              <div class="text-center">
                <% @threeDots.each do |dot| %>
                  Job <strong><%= dot[0] %></strong> Starting <strong><%= dot[1] %></strong>
                  </br>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <!-- 4 week load for the department -->
    <% if @isDepartment %>
        <div class="card-header">
          <div class="row">
            <div class="col-3" style="height: 100%">
              <% if @oneWeekLoad >= 100 then loadColor = "danger" elsif @oneWeekLoad < 100 && @oneWeekLoad > 90 then loadColor = "warning" else loadColor = "light" end %>
              <div class="text-bg-<%= loadColor %>" style="border-radius: 20px">
                <div class="text-center">
                  Load For Coming Week: <%= @oneWeekLoad.round(0) %>%
                </div>
              </div>
            </div>
            <div class="col-3">
              <% if @twoWeekLoad >= 100 then loadColor = "danger" elsif @twoWeekLoad < 100 && @twoWeekLoad > 90 then loadColor = "warning" else loadColor = "light" end %>
              <div class="text-bg-<%= loadColor %>"  style="border-radius: 20px">
                <div class="text-center">
                  Week 2 Load: <%= @twoWeekLoad.round(0) %>%
                </div>
              </div>
            </div>
            <div class="col-3">
              <% if @threeWeekLoad >= 100 then loadColor = "danger" elsif @threeWeekLoad < 100 && @threeWeekLoad > 90 then loadColor = "warning" else loadColor = "light" end %>
              <div class="text-bg-<%= loadColor %>"  style="border-radius: 20px">
                <div class="text-center">
                  Week 3 Load: <%= @threeWeekLoad.round(0) %>%
                </div>
              </div>
            </div>
            <div class="col-3">
              <% if @fourWeekLoad >= 100 then loadColor = "danger" elsif @fourWeekLoad < 100 && @fourWeekLoad > 90 then loadColor = "warning" else loadColor = "light" end %>
              <div class="text-bg-<%= loadColor %>"  style="border-radius: 20px">
                <div class="text-center">
                  Week 4 Load: <%= @fourWeekLoad.round(0) %>%
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
<!-- add number of dots to top of runlist. copy table into same spot and run as a seperate table if there are dotted jobs -->

    <table style="table-layout:fixed" class="table table-dark align-middle table table-bordered text-center" >
      <thead>
        <tr>
          <th width="60rem" scope="col">Job</th>
          <th width="35rem" style="font-size: 12px" scope="col">Qty</th>
          <th width="100rem" scope="col">Material</th>
          <th width="100rem" scope="col">Part number</th>
          <th width="140rem" scope="col">Description</th>
          <th width="70rem" scope="col">Ship Date</th> 
          <th width="80rem" scope="col">Customer</th> 
          <th width="125rem" scope="col">Assignment</th>
          <th width="40rem" style="font-size: 10px" scope="col">Material Pending</th>
          <th width="70rem" style="font-size: 12px" scope="col">Current Location</th>
          <th width="70rem" style="font-size: 14px" scope="col">Operation</th>
          <th width="70rem" style="font-size: 14px" scope="col">Service</th>
        </tr>
      </thead>
      <tbody>
      <% @previousStartDate = "01/01/1990" %> <!-- initialize startdate variable -->
      <% @operations.each do |op| %>
        <% if op.Sched_Start.to_s != "-NULL" %>
          <% date = op.Sched_Start.to_s %>
          <% dates = date.gsub("-", "/").to_s %> <!-- converts "-" to "/" for date strptime class -->
          <% startDate = Date.strptime(dates, "%m/%d/%Y") %> <!-- converts string to date type variable -->
          <!-- new day row and logic -->
          <% if @previousStartDate != startDate %> <!-- don't render another header if the date is same as previous -->
            <% hours = dailyHoursCalc(date, @operations) %>
            <% if startDate.before? @today %>
              <tr >                
                <th colspan="2" class="table-light" style="font-size: 14px"><%= op.Sched_Start %></th>
                <th colspan="2" class="table-light" style="font-size: 14px">~<%= hours %> Hours</th>
              </tr>
            <% end %>
            <% if startDate == @today %>
              <tr >
                <th colspan="2" class="table-light" style="font-size: 14px"><%= op.Sched_Start %></th>
                <th colspan="2" class="table-light" style="font-size: 14px">~<%= hours %> Hours</th>
              </tr>
            <% end %>
            <% if startDate.after? @today %>
              <tr>
                <th colspan="2" class="table-light" style="font-size: 14px"><%= op.Sched_Start %></th>
                <th colspan="2" class="table-light" style="font-size: 14px">~<%= hours %> Hours</th>
              </tr>
            <% end %>
          <% end %>
          <!-- coloring of row logic -->
          <% if startDate.before? @today then @rowColor = "table-danger" end %>
          <% if startDate == @today then @rowColor = "table-light" end %>
          <% if startDate.after? @today then @rowColor = "table-default" end %>
          <% if op.status.to_s == "S" then @rowColor = "table-info" end %>

          <% @previousStartDate = startDate %>
          <tr class="<%= @rowColor %>" >
           <%= render op %>
          </tr>
          <% i = i + 1 %>
          <% if i == 1000 %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>