<p style="color: green"><%= notice %></p>
<section class="text-white">
<h1>Runlists</h1>

<%= @cus %>

<!--
<div id="runlists">
  <% @runlists.each do |runlist| %>
    <%= render runlist %>
    <p>
      <%= link_to "Show this runlist", runlist %>
    </p>
  <% end %>
</div>

<%= link_to "New runlist", new_runlist_path %>
-->
</section>