  <div data-controller="runlist"> <!-- data controller defines the stimulus controller for this div -->
    <div class="text-white">
      <div class="row">
          
          <div id="departmentselect" class="col-3">
            <select class="form-select" data-action="change->runlist#changedepartment"> <!-- data action is the js controller to run -->
              <option selected>Department</option>
              <% @departments.each do |w| %>
              <option ><%= w %></option>
              <% end %>
            </select>
        </div>
        <div class="col-auto">
            <%= link_to "Shopwide WorkLoads", "/runlists", class: "btn btn-info" %>
          </div>
        <div class="col" id="editDepartmentButton">
          <%= link_to "New department", new_department_path, class: "btn btn btn-success" %>
        </div>

        <div class="col-auto" id="newassignmentbutton"></div>
        <div id="wcSelect" class="col-2 justify-content-end">
          <select class="form-select" data-action="change->runlist#changeWc"> <!-- data action is the js controller to run -->
            <option selected>WorkCenter</option>
            <% @workCenters.each do |w| %>
              <option ><%= w %></option>
            <% end %>
          </select>
        </div>
      </div>
    <div id="refresh">     
      
    </div>
    <div id="newAssignment"></div>
    <div id="showAssignments"></div>
    </br>
    <div id="activerunlistrender">
      <%= render "runlists/totalworkload" %>
    </div>  <!-- id sets the turbo stream page to get rendered -->


