<p style="color: green"><%= notice %></p>
<section class="text-white">



  <div >
      <div class="row">
        <div class="col">
          <h1>Runlist</h1>
        </div>
        <div class="col">
          <h2>Workcenter</h2>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
              Select Workcenter
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
              <% @wc.each do |w| %>
              <li><a class="dropdown-item" href="#"><%= w %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
  </div>

<div data-controller="hello">
  <input data-hello-target="name" type="text"> <!-- data-hello-target define the name the js controller links too -->
  <button class="btn btn-secondary" data-action="click->hello#greet">Greet</button>
</div>


  <div data-controller="runlist" >
    <div class="row">
      <div class="col">
        <h1>Runlist</h1>
      </div>
      <div class="col">
        <h2>Workcenter</h2>
          <select class="form-control" data-action="change->runlist#change">
            <option selected>Select WorkCenter</option>
            <% @wc.each do |w| %>
              <option ><%= w %></option>
            <% end %>
          </select>          
          <button class="btn btn-primary" data-action="click->runlist#change">Try</button>
      </div>
    </div>






</br>

<% i = 0 %>

<table class="table table-dark table-striped table-hover table-sm align-middle ">
  <thead>
    <tr>
      <th scope="col">Job</th>
      <th scope="col">Customer</th> 
      <th scope="col">Ship Date</th> 
      <th scope="col">Quantity</th>
      <th scope="col">Material</th>
      <th scope="col">Part number</th>
      <th scope="col">Description</th>
      <th scope="col">Wc vendor</th>
      <th scope="col">Current Location</th>
      <th scope="col">Employee</th>
      <th scope="col">Material Pending</th>
    </tr>
  </thead>
  <tbody>
    <% @runlists.each do |runlist| %>
      <tr>
      <%= render runlist %>
      <td><%= link_to "Show", runlist, class:"btn btn-primary btn-sm" %></td>
      <td><%= link_to "Edit", edit_runlist_path(runlist), class:"btn btn-secondary btn-sm" %></td> 
      </tr>
      <% i = i + 1 %>
      <% if i == 2 %>
        <% break %>
      <% end %>
    <% end %>
  </tbody>
</table>







<%= link_to "New runlist", new_runlist_path %>

</section>