<h1>New runlist</h1>
<%= turbo_frame_tag "first_turbo_frame" do %>
  <%= link_to "Cancel", runlists_path, class: "btn btn-warning" %>
  <%= render "form", runlist: @runlist %>
<% end %>
</br>
</br>



<h1>New runlist</h1>

  <%= link_to "Cancel", runlists_path, class: "btn btn-warning" %>
  <%= render "form", runlist: @runlist %>

</br>
</br>