<p style="color: green"><%= notice %></p>



<table class="table table-dark table-striped table-hover table-sm align-middle ">
  <thead>
    <tr>
      <th scope="col">Job</th>
      <th scope="col">Job operation</th>
      <th scope="col">Wc vendor</th>
      <th scope="col">Operation service</th>  
      <th scope="col">Vendor</th>  
      <th scope="col">Sched start</th>
      <th scope="col">Sched end</th>
      <th scope="col">Sequence</th>
      <th scope="col">Customer</th>  
      <th scope="col">Order date</th>
      <th scope="col">Part number</th>
      <th scope="col">Rev</th>
      <th scope="col">Description</th>
      <th scope="col">Order quantity</th>
      <th scope="col">Extra quantity</th>
      <th scope="col">Pick quantity</th>
      <th scope="col">Make quantity</th>
      <th scope="col">Open operations</th>
      <th scope="col">Completed quantity</th>
      <th scope="col">Shipped quantity</th>
      <th scope="col">Fg transfer qty</th>
      <th scope="col">In production quantity</th>
      <th scope="col">Certs required</th>
      <th scope="col">Act scrap quantity</th>
      <th scope="col">Customer po</th>
      <th scope="col">Customer po ln</th>
      <th scope="col">Job sched end</th>
      <th scope="col">Job sched start</th>
      <th scope="col">Note text</th>
      <th scope="col">Released date</th>
      <th scope="col">Material</th>
      <th scope="col">Mat vendor</th>
      <th scope="col">Mat description</th>
      <th scope="col">Employee</th>
      <th scope="col">Dots</th>
      <th scope="col">Currentop</th>
      <th scope="col">Currentop</th>

    </tr>
  </thead>
  <tbody>
    
      <tr>
      <%= render @runlist %>
      </tr>

    
  </tbody>
</table>

<div>
  <%= link_to "Edit this runlist", edit_runlist_path(@runlist) %> |
  <%= link_to "Back to runlists", runlists_path %>

  <%= button_to "Destroy this runlist", @runlist, method: :delete %>
</div>
