<%= turbo_stream.update "showAssignments" do %>
</br>
      <div class="card text-bg-dark mb-3 ">
        <div class="card-header">
          <div class="row">
            <div class="col-1"></div>
              <div class="col-10 d-md-flex justify-content-center"><h4>Assignments for <%= @department.department %></h4></div>
                <div class="col-1 d-md-flex justify-content-end">
                <%= link_to "Close",  closestreams_runlists_path, class: "btn btn-secondary", data: { action: "change->runlist#changeWc"} %>
                </div>
          </div>
          
          <div class="card-body  text-white text-center">
            
            <% @assignments.each do |assignment| %>
              <%= render assignment %>
              <%= link_to "Delete", assignmentdestroy_path(assignment, :departmentid => params[:departmentid], :department => params[:department]), method: :delete, class: "btn btn-danger" %>
            </br>
              
            <% end %>
          </div>
      </div>
<% end %>

<%= turbo_stream.update "activerunlistrender" do %>
  <!--  <h4>Today is <%= @today = Date.today %> </h4> -->
  <% i = 0 %>
  <table style="table-layout:fixed" class="table table-dark table-striped table-hover align-middle table table-bordered text-center" >
    <thead>
      <tr>
        <th width="70px" scope="col">Job</th>
        <th width="40px" style="font-size: 12px" scope="col">Qty</th>
        <th width="100px" scope="col">Material</th>
        <th width="100px" scope="col">Part number</th>
        <th width="140px" scope="col">Description</th>
        <th width="100px" scope="col">Ship Date</th> 
        <th width="100px" scope="col">Customer</th> 
        <th width="125px" scope="col">Assignment</th>
        <th width="50px" style="font-size: 10px" scope="col">Material Pending</th>
        <th width="90px" style="font-size: 14px" scope="col">Operation</th>
        <th width="90px" style="font-size: 12px" scope="col">Current Location</th>
      </tr>
    </thead>
    <tbody>
      <% @previousStartDate = "01/01/1990" %> <!-- initialize startdate variable -->
      <% @operations.each do |op| %>
        <% date = op.Sched_Start.to_s %>
          <% dates = date.gsub("-", "/").to_s %> <!-- converts "-" to "/" for date strptime class -->
          <% startDate = Date.strptime(dates, "%m/%d/%Y") %> <!-- converts string to date type variable -->
          <% if @previousStartDate != startDate %> <!-- don't render another header if the date is same as previous -->
            <% if startDate.before? @today %>
              <% @rowColor = "table-danger" %>
              <tr >
                <th colspan="2" class="table-light" style="font-size: 14px"><%= op.Sched_Start %></th>
              </tr>
            <% end %>
            <% if startDate == @today %>
              <% @rowColor = "table-success" %>
              <tr >
                <th colspan="2" class="table-light" style="font-size: 14px"><%= op.Sched_Start %></th>
              </tr>
            <% end %>
            <% if startDate.after? @today %>
              <% @rowColor = "table-default" %>
              <tr>
                <th colspan="2" class="table-light" style="font-size: 14px"><%= op.Sched_Start %></th>
              </tr>
            <% end %>
          <% end %>
          <% @previousStartDate = startDate %>
          <tr class="<%= @rowColor %>" >
           <%= render op %>
          </tr>
        <% i = i + 1 %>
        <% if i == 1000 %>
          <% break %>
        <% end %>

      <% end %>
    </tbody>
  </table>
<% end %>