<div id="<%= dom_id slideshow %>">
  <p>
    <strong>Announcements:</strong>
    <%= slideshow.announcements %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= slideshow.quote %>
  </p>

  <p>
    <strong>Mondayo:</strong>
    <%= slideshow.mondayO %>
  </p>

  <p>
    <strong>Mondayc:</strong>
    <%= slideshow.mondayC %>
  </p>

  <p>
    <strong>Tuesdayo:</strong>
    <%= slideshow.tuesdayO %>
  </p>

  <p>
    <strong>Tuesdayc:</strong>
    <%= slideshow.tuesdayC %>
  </p>

  <p>
    <strong>Wednesdayo:</strong>
    <%= slideshow.wednesdayO %>
  </p>

  <p>
    <strong>Wednesdayc:</strong>
    <%= slideshow.wednesdayC %>
  </p>

  <p>
    <strong>Thursdayo:</strong>
    <%= slideshow.thursdayO %>
  </p>

  <p>
    <strong>Thursdayc:</strong>
    <%= slideshow.thursdayC %>
  </p>

  <p>
    <strong>Fridayo:</strong>
    <%= slideshow.fridayO %>
  </p>

  <p>
    <strong>Fridayc:</strong>
    <%= slideshow.fridayC %>
  </p>

  <p>
    <strong>Nextmondayo:</strong>
    <%= slideshow.nextMondayO %>
  </p>

  <p>
    <strong>Nextmondayc:</strong>
    <%= slideshow.nextMondayC %>
  </p>

  <p>
    <strong>Nexttuesdayo:</strong>
    <%= slideshow.nextTuesdayO %>
  </p>

  <p>
    <strong>Nexttuesdayc:</strong>
    <%= slideshow.nextTuesdayC %>
  </p>

  <p>
    <strong>Nextwednesdayo:</strong>
    <%= slideshow.nextWednesdayO %>
  </p>

  <p>
    <strong>Nextwednesdayc:</strong>
    <%= slideshow.nextWednesdayC %>
  </p>

  <p>
    <strong>Nextthursdayo:</strong>
    <%= slideshow.nextThursdayO %>
  </p>

  <p>
    <strong>Nextthursdayc:</strong>
    <%= slideshow.nextThursdayC %>
  </p>

  <p>
    <strong>Nextfridayo:</strong>
    <%= slideshow.nextFridayO %>
  </p>

  <p>
    <strong>Nextfridayc:</strong>
    <%= slideshow.nextFridayC %>
  </p>

</div>
