<div class="card text-bg-dark mb-3" style=" height: 98vh" >
	<div class="card-header text-center ">
    <h3>Time Off This Week</h3>
    <h3><%= @weekStart %> to <%= @weekEnd %></h3>
  </div>
  <div class="card text-bg-dark text-center mb-3">
    <div class="card-body">
      <table style="table-layout:fixed; width: 100%; border-color: white" class="table table-dark align-middle table table-bordered text-center" >
        <thead>
          <tr style="font-size: 2vw">
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody style="font-size: 2vw;">
          <% @day = 0 %>
          <%= render "slideshows/timeOffRow" %>
          <% @day = 1 %>
          <%= render "slideshows/timeOffRow" %>
          <% @day = 2 %>
          <%= render "slideshows/timeOffRow" %>
          <% @day = 3 %>
          <%= render "slideshows/timeOffRow" %>
          <% @day = 4 %>
          <%= render "slideshows/timeOffRow" %>
          <% @day = 5 %>
          <%= render "slideshows/timeOffRow" %>
          <% @day = 6 %>
          <%= render "slideshows/timeOffRow" %>
          <% @day = 7 %>
          <%= render "slideshows/timeOffRow" %>
        </tbody>
      </table>
    </div>
  </div>        
</div>