<tr style="font-size: 24px">
    <td><%= @mondaye[@day] %></td>
    <td><%= @tuesdaye[@day] %></td>
    <td><%= @wednesdaye[@day] %></td>
    <td><%= @thursdaye[@day] %></td>
    <td><%= @fridaye[@day] %></td>
</tr>