<tr style="font-size: 26px">
    <td><%= @nextMondaye[@day] %></td>
    <td><%= @nextTuesdaye[@day] %></td>
    <td><%= @nextWednesdaye[@day] %></td>
    <td><%= @nextThursdaye[@day] %></td>
    <td><%= @nextFridaye[@day] %></td>
</tr>