<div class="card text-bg-light mb-3" >
    <div class="card-header text-center "><h1>Add Timeoff</h1></div>
        <div class="card-body">


		<%= form_with url: "/editTimeOff" do |form| %>
		<div class="row justify-content-center">
				<div class="col-2">
				<div class="text-center"><h2>Employee</h2></div>
				</div>
				<div class="col-2">
				<div class="text-center"><h2>Start Time</h2></div>
				</div>
				<div class="col-2">
				<div class="text-center"><h2>End Time</h2></div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-2">
				<div class="text-center"><%= form.text_field :name %></div>
				</div>
				<div class="col-2">
				<div class="text-center"><%= form.datetime_local_field :startDate, value: @today %></div>
				</div>
				<div class="col-2">
				<div class="text-center"><%= form.datetime_local_field :endDate, value: @todayEnd %></div>
				</div>
			</div>
			</br>
			<div class="row justify-content-center">
				<div class="col-2">
				<div class="text-center"><%= form.text_field :name2 %></div>
				</div>
				<div class="col-2">
				<div class="text-center"><%= form.datetime_local_field :startDate2, value: @today %></div>
				</div>
				<div class="col-2">
				<div class="text-center"><%= form.datetime_local_field :endDate2, value: @todayEnd %></div>
				</div>
			</div>
			</br>
			<div class="row justify-content-center">
				<div class="col-2">
				<div class="text-center"><%= form.text_field :name3 %></div>
				</div>
				<div class="col-2">
				<div class="text-center"><%= form.datetime_local_field :startDate3, value: @today %></div>
				</div>
				<div class="col-2">
				<div class="text-center"><%= form.datetime_local_field :endDate3, value: @todayEnd %></div>
				</div>
			</div>
			</br>
			<div class="row justify-content-center">
				<div class="col-2">
				<div class="text-center"><%= form.text_field :name4 %></div>
				</div>
				<div class="col-2">
				<div class="text-center"><%= form.datetime_local_field :startDate4, value: @today %></div>
				</div>
				<div class="col-2">
				<div class="text-center"><%= form.datetime_local_field :endDate4, value: @todayEnd %></div>
				</div>
			</div>
			</br>


		<div class="text-center">
		<%= form.submit "Save Changes", class:"btn btn-primary" %>
		<% end %>
	</div>
	</div>
</div>

<div class="card text-bg-light text-center">
	<div class="card-header">
		<h1>All Time Off</h1>
	</div>
	<div class="card-body">
		<table style="table-layout:fixed" class="table table-light align-middle table table-bordered text-center" >
                <thead>
                  <tr style="font-size: 26px">
                    <th scope="col">Name</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                  </tr>
                </thead>
                <tbody style="font-size: X-large;">
                	<% @off.each do |off| %>
					<tr style="font-size: 26px">
                  	
					<td><%= off[:name] %> </td>
					<td><%= off[:start] %> </td>
					<td><%= off[:end] %> </td>
					<td><%= button_to "Delete", delTimeOff_path(off[:number]), data: { confirm: "Are you sure?" }, method: :delTimeOff, class:"btn btn-danger" %></td> 
					</tr>
					<% end %>
                </tbody>

              </table>
		
	</div>
</div>
