<% require 'date' %>

<div id="slides"> <!-- id="slides" is used to define turbo_stream content that gets updated -->
  <div data-controller="slideshow" data-slideshow-slide="<%= @currentSlide %>" data-slideshow-path="<%= request.path %>">
    <div class="row">
      <div class="col-6">
        <button class="btn btn-primary" data-action="click->slideshow#previous">Previous</button>
        <button class="btn btn-primary" data-action="click->slideshow#next">Next</button>
        <button class="btn btn-primary" data-action="click->slideshow#start">Start Slideshow</button>
      </div>
      <div class="col-6">
        <%= link_to "Edit Slideshow", edit_slideshow_path(1), class:"btn btn-secondary" %>
        <%= link_to "Add Timeoff", addTimeOff_path, class:"btn btn-secondary" %>
        <%= link_to "This Weeks Timeoff", timeOff_path, class:"btn btn-secondary" %>
      </div>
    </div>


    <h1 class="text-white"> Current <%= @currentSlide %> | Next Slide <%= @nextbtn %> </h1>
  </div>
  <%= render "slideshows/shopHours" %>



</div>