 <%= turbo_stream.update "slides" do %>
	<div data-controller="slideshow" data-slideshow-slide="<%= @currentSlide %>" data-slideshow-path="<%= request.path %>">
		<%= link_to "Next Slide", slides_slideshows_path(:nextbtn => @nextbtn), class: "btn btn-secondary justify-content-end" %>
		<button class="btn btn-primary" data-action="click->slideshow#previous">Previous</button>
		<button class="btn btn-primary" data-action="click->slideshow#next">Next</button>


		<h1 class="text-white"> Current <%= @currentSlide %> | Next Slide <%= @nextbtn %> </h1>
			<% case @currentSlide %>
			<% when 1 %>
				<div class="card text-bg-light mb-3" style=" height: 98vh" >
					<div class="card-header text-center "><h1>Shop Hours</h1></div>
				    <div class="card-body">
				      <div class="row">
				        <div class="col-6">
				          <div class="card text-bg-light text-center mb-3">
				            <div class="card-header">
				              <h3>This Week</h3>
				              <h3><%= @weekStart %> to <%= @weekEnd %></h3>
				            </div>
				            <div class="card-body">
				              <table style="table-layout:fixed" class="table table-dark align-middle table table-bordered text-center" >
				                <thead>
				                  <tr>
				                    <th scope="col">Day</th>
				                    <th scope="col">Open</th>
				                    <th scope="col">Close</th>
				                  </tr>
				                </thead>
				                <tbody style="font-size: X-large;">
				                  <tr>
				                    <td>Monday</td>
				                    <% if @slideshow.mondayO != "7" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.mondayO %></td>
				                    <% if @slideshow.mondayC != "4" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.mondayC %></td>
				                  </tr>
				                  <tr>
				                    <td>Tuesday</td>
				                    <% if @slideshow.tuesdayO != "7" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.tuesdayO %></td>
				                    <% if @slideshow.tuesdayC != "4" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td><%= @slideshow.tuesdayC %></td>
				                  </tr>
				                  <tr>
				                    <td>Wednesday</td>
				                    <% if @slideshow.wednesdayO != "7" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.wednesdayO %></td>
				                    <% if @slideshow.wednesdayC != "4" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.wednesdayC %></td>
				                  </tr>
				                  <tr>
				                    <td>Thursday</td>
				                    <% if @slideshow.thursdayO != "7" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.thursdayO %></td>
				                    <% if @slideshow.thursdayC != "4" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.thursdayC %></td>
				                  </tr>
				                  <tr>
				                    <td>Friday</td>
				                    <% if @slideshow.fridayO != "7" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.fridayO %></td>
				                    <% if @slideshow.fridayC != "4" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.fridayC %></td>
				                  </tr>
				                </tbody>
				              </table>
				            </div>
				          </div>
				        </div>

				        <div class="col-6">
				          <div class="card text-bg-light text-center mb-3">
				            <div class="card-header">
				              <h3>Next Week</h3>
				              <h3><%= @nextWeekStart %> to <%= @nextWeekEnd %></h3>
				            </div>
				            <div class="card-body">
				              <table style="table-layout:fixed" class="table table-dark align-middle table table-bordered text-center" >
				                <thead>
				                  <tr>
				                    <th scope="col">Day</th>
				                    <th scope="col">Open</th>
				                    <th scope="col">Close</th>
				                  </tr>
				                </thead>
				                <tbody style="font-size: X-large;">
				                  <tr>
				                    <td>Monday</td>
				                    <% if @slideshow.nextMondayO != "7" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.nextMondayO %></td>
				                    <% if @slideshow.nextMondayC != "4" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.nextMondayC %></td>
				                  </tr>
				                  <tr>
				                    <td>Tuesday</td>
				                    <% if @slideshow.nextTuesdayO != "7" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.nextTuesdayO %></td>
				                    <% if @slideshow.nextTuesdayC != "4" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.nextTuesdayC %></td>
				                  </tr>
				                  <tr>
				                    <td>Wednesday</td>
				                    <% if @slideshow.nextWednesdayO != "7" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.nextWednesdayO %></td>
				                    <% if @slideshow.nextWednesdayC != "4" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.nextWednesdayC %></td>
				                  </tr>
				                  <tr>
				                    <td>Thursday</td>
				                    <% if @slideshow.nextThursdayO != "7" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.nextThursdayO %></td>
				                    <% if @slideshow.nextThursdayC != "4" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.nextThursdayC %></td>
				                  </tr>
				                  <tr>
				                    <td>Friday</td>
				                    <% if @slideshow.nextFridayO != "7" then background = "text-bg-danger" else background = "text-bg-default" end %>
				                    <td class="<%= background %>"><%= @slideshow.nextFridayO %></td>
				                    <% if @slideshow.nextFridayC != "4" then background = "text-bg-danger" end %>
				                    <td class="<%= background %>"><%= @slideshow.nextFridayC %></td>
				                  </tr>
				                </tbody>
				              </table>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				</div>
			<% when 2 %>
				<div class="card text-bg-light mb-3 text-center" style=" height: 98vh" >
			        <div class="card-header">
			         	<h1>Announcements</h1>
			        </div>
			        <div class="card-body">
				        <h1>
				        	<%= simple_format(@slideshow.announcements) %>
				        </h1>
			        </div>
		        </div>
			<% when 3 %>
				<div class="card text-bg-light mb-3 text-center" style=" height: 98vh" >
			        <div class="card-header">
			          <h1>Hot Jobs</h1>
			        </div>
			        <div class="card-body text-center" >
						<table style="table-layout:fixed" class="table table-dark align-middle table table-bordered text-center" >
							<thead>
							<tr>
							  <th width="60rem" scope="col">Dots</th>
							  <th width="60rem" scope="col">Job</th>
							  <th width="35rem" style="font-size: 12px" scope="col">Qty</th>
							  <th width="100rem" scope="col">Material</th>
							  <th width="100rem" scope="col">Part number</th>
							  <th width="140rem" scope="col">Description</th>
							  <th width="70rem" scope="col">Ship Date</th> 
							  <th width="80rem" scope="col">Customer</th> 
							  <th width="70rem" style="font-size: 12px" scope="col">Current Location</th>
							</tr>
							</thead>
							<tbody>				
								<% @operations.each do |op| %>
									<% if op.Sched_Start.to_s != "-NULL" && op.Job_Sched_End.to_s != "-NULL" %>
									  <tr>
									  	<% if op.dots == 1 then dots = "O" end %>
									  	<% if op.dots == 2 then dots = "OO" end %>
									  	<% if op.dots == 3 then dots = "OOO" end %>
									  	<td style="font-size: 26px; color: red" ><%= dots %></td>
										<td style="font-size: 20px"><%= op.Job %></td>
										<td style="font-size: 20px"><%= op.Make_Quantity %></td>
										<td style="font-size: 20px" class="text-wrap"><%= op.Material %></td>
										<td style="font-size: 20px" class="text-wrap"><%= op.Part_Number %></td>
										<td style="font-size: 20px" class="text-wrap"><%= op.Description %></td>
										<td style="font-size: 20px"><%= op.Job_Sched_End %></td> <!-- ship date as last op on routing? -->
										<td style="font-size: 20px" class="text-wrap"><%= op.Customer %></td> 
										<td style="font-size: 20px" class="text-wrap"><%= op.currentOp %></td>
									  </tr>
									<% end %>
								<% end %>
							</tbody>
						</div>
		     	</div>
				
			<% when 4 %>
				<div class="card text-bg-light mb-3 text-center" style=" height: 98vh" >
			        <div class="card-header">
			          <h1>New Jobs per Day</h1>
			        </div>
			        <div class="card-body text-center" >
			          <h1>
			            <%= column_chart charts_total_jobs_path, label: "Value", height: "84vh" %>
			          </h1>
			        </div>
		     	</div>
			<% when 5 %>
				<div class="card text-bg-light mb-3 text-center" style=" height: 98vh" >
			        <div class="card-header">
			          <h1>Wise Words</h1>
			        </div>
			        <div class="card-body" >
			          <h1>
			            <%= image_tag(@slideshow.quote, style:"width: 75vw; height: 85vh; object-fit: fill;") %>
			          </h1>
			        </div>
		     	</div>
			<% when 6 %>

			<% end %>
	</div>
<% end %>