<%= form_with(model: turninginv) do |form| %>
<% if turninginv.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(turninginv.errors.count, "error") %> prohibited this turninginv from being saved:</h2>

  <ul>
    <% turninginv.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="container text-left" >
  <div class="row" >
    <div class="col" >
      <%= form.label :part_number, style: "display: block" %>
      <%= form.text_field :part_number, class:"form-control"  %>
    </div>
    <div class="col">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description, class:"form-control" %>
    </div>
  </div>
</br>

<div class="row">
  <div class="col">
    <%= form.label :balance, style: "display: block" %>
    <%= form.text_field :balance, class:"form-control", :autofocus => true %>
  </div>
  <div class="col">
    <%= form.label "Minumum To send alert", style: "display: block" %>
    <%= form.text_field :minumum, class:"form-control" %>
  </div>
</div>
</br>
<div class="row">
  <div class="col">
    <%= form.label "Purchaser", style: "display: block" %>
    <%= form.text_field :buyer, class:"form-control" %>
  </div>
  <div class="col">
    <%= form.label :vendor, style: "display: block" %>
    <%= form.text_field :vendor, class:"form-control" %>
  </div>
</div>
</br>

<div>
  <%= form.label :location, style: "display: block" %>
  <%= form.text_field :location, class:"form-control" %>
</div>
</br>

<div class="row">
  <div class="col">
    <%= form.label "Last alert email sent", style: "display: block" %>
    <%= form.text_field :last_email, :readonly => true, class:"form-control" %>
  </div>
  <div class="col">
    <%= form.label :last_received, style: "display: block" %>
    <%= form.text_field :last_received, :readonly => true, class:"form-control" %>
  </div>
</div>
</br>
<%= form.number_field :turninginv_id, id: :history_id , class:"form-control", placeholder: "turninginv_id" %>
</br>

<div class="row">
  <div class="col">
   <%= form.submit "Save Changes", class:"btn btn-primary" %>
 </div>

</div>



<!--  extra variables not needed to display in the form. 
  <div>
    <%= form.label :employee, style: "display: block" %>
    <%= form.text_field :employee %>
  </div>
  <div class="col">
    <%= form.label :to_take, style: "display: block" %>
    <%= form.text_field :to_take, class:"form-control" %>
  </div>
  <div class="col">
    <%= form.label :remaining, style: "display: block" %>
    <%= form.text_field :remaining, class:"form-control" %>
  </div>

-->

<% end %>

