<%= form_with(model: turninginv) do |form| %>
<% if turninginv.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(turninginv.errors.count, "error") %> prohibited this turninginv from being saved:</h2>

  <ul>
    <% turninginv.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="container text-left">
  <div class="row" >
    <div class="col" >
      <%= form.label :part_number, style: "display: block" %>
      <%= form.text_field :part_number, class:"form-control", :onclick => 'this.select();', :autofocus => true %>
    </div>
    <div class="col">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description, class:"form-control" %>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col">
      <%= form.label :balance, style: "display: block" %>
      <%= form.text_field :balance, class:"form-control" %>
    </div>
    <div class="col">
      <%= form.label "Minumum To send alert", style: "display: block" %>
      <%= form.text_field :minumum, class:"form-control" %>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col">
      <%= form.label :location, style: "display: block" %>
      <%= form.text_field :location, class:"form-control" %>
    </div>
    <div class="col">
      <%= form.label "Employee that Purchases" , style: "display: block" %>
      <%= form.text_field :buyer, class:"form-control" %>
    </div>
  </div>
    </br>
<div class="row">
  <div class="col">
    <%= form.label "Purchasing website", style: "display: block" %>
    <%= form.text_field :vendor, class:"form-control" %>
  </div>
    <div class="col">
    <%= form.label "Tool info website", style: "display: block" %>
    <%= form.text_field :toolinfo, class:"form-control" %>
  </div>
  <div class="col">
    <%= form.label "Status", style: "display: block" %>
    <%= form.select :status, ['stocked', 'Needs Restock', 'In Cart', 'Ordered'], {}, {class:"form-select"} %>
  </div>
</div>
</br>


 <div class="row">
  <div class="col">
    <%= form.label "Parent ID (Edit this if wanting to change the tool this is associated with)", style: "display: block" %>
    <%= form.text_field :hardwareid, class:"form-control" %>
  </div>
    <div class="col">
    <%= form.label "This Tool ID (read only)", style: "display: block" %>
    <%= form.text_field :id, :readonly => true, class:"form-control" %>
  </div>
</div>


</br>
 <div class="row">
    <div class="col">
    </div>
    <div class="col d-md-flex justify-content-md-end">
     <%= form.submit "Save Changes", class:"btn btn-primary " %>
    </div>
 </div>



<% end %>

