      <td><%= turninginv.id %></td>
      <td><%= turninginv.part_number %></td>
      <td><%= turninginv.description %></td>
      <td><%= turninginv.balance %></td>
      <td><%= turninginv.location %></td>
      <td><%= turninginv.last_received %></td>
      


<!--  all the fields in the database
<div id="<%= dom_id turninginv %>">
  <p>
    <strong>Part number:</strong>
    <%= turninginv.part_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= turninginv.description %>
  </p>

  <p>
    <strong>To take:</strong>
    <%= turninginv.to_take %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= turninginv.balance %>
  </p>

  <p>
    <strong>Remaining:</strong>
    <%= turninginv.remaining %>
  </p>

  <p>
    <strong>Minumum:</strong>
    <%= turninginv.minumum %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= turninginv.location %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= turninginv.vendor %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= turninginv.buyer %>
  </p>

  <p>
    <strong>Last received:</strong>
    <%= turninginv.last_received %>
  </p>

  <p>
    <strong>Last email:</strong>
    <%= turninginv.last_email %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= turninginv.employee %>
  </p>

</div>

-->