<div class="row align-items-center">
  <div class="col">
    <h1 class="text-white"><ins>Turning Inventory</ins></h1>
  </div>
  <div class="col d-md-flex justify-content-md-end">
    <%= link_to "#{@order}", turningbelowmin_path, class:"btn btn-info btn-outline-white" if @ordered > 0 %>
  </div>
</div>

  <%= search_form_for @q do |f| %>
    <div class="row align-items-center">
      <div class="col">
        <%= f.text_field :part_number_or_description_cont, class:"form-control", :autofocus => true, :onfocus => 'this.select();', :selectall => true, placeholder: "Search for Part Number or Descriptions" %>
      </div>
      <div class="col-auto" id="form">
        <%= f.submit "Search", class:"btn btn-primary " %>
        <%= link_to "Clear Search", turninginvs_path, class:"btn btn-dark" %> 
  <% end %>
      </div>
      <div class="col d-md-flex justify-content-end">
        <%= link_to "#{@restock}", turningbelowmin_path, class:"btn btn-warning" if @mins > 0  %>
      </div>
      <div class="col-auto">
        <%= link_to "New Tool", new_turninginv_path, class:"btn btn-success" %>
      </div>
    </div>
   </br>
<table class="table table-dark table-striped table-hover table-sm align-middle ">
  <thead>
    <tr>
      <th width="160" scope="col">Part Number</th>
      <th scope="col">Description</th>
      <th width="80" scope="col">Balance</th>
      <th scope="col">Location</th>  
      <th width="50" scope="col">Checkouts</th>  
      <th width="80" scope="col">Checkout</th>
      <th width="50" scope="col">Info</th>
      <th width="50" scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @turninginvs.each do |turninginv| %>
      <tr>
      <%= render turninginv %>
      <td><%= link_to "Checkout", turningcheckout_path(turninginv), class:"btn btn-success btn-sm" %></td> 
      <td><%= link_to "Show", turninginv, class:"btn btn-primary btn-sm" %></td>
      <td><%= link_to "Edit", edit_turninginv_path(turninginv), class:"btn btn-secondary btn-sm" %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<script>
const form = document.getElementById('form');

form.addEventListener('focusin', (event) => {event.target.click()});

form.addEventListener('focusout', (event) => {;});
</script>