<%= form_with(model: material) do |form| %>
<div class="row">
  <div class="col">
    <%= form.label :Material, style: "display: block" %>
    <%= form.text_field :mat, autofocus: true, class: "form-control" %>
  </div>
  <div class="col">
    <%= form.label :Size, style: "display: block" %>
    <%= form.text_field :size, class: "form-control" %>
  </div>
  <div class="col">
    <%= form.label "Material Type", style: "display: block" %>
    <%= form.select :materialType, options_for_select(["Steel/Iron", "Stainless", "Aluminum", "Brass/Bronze", "Nylon", "Peek"], @materialType), {}, class: "form-select" %>
  </div>
  <div class="col-1">
    <label >&nbsp</label></br>
    <%= form.submit "Save Changes", class: "btn btn-primary" %>
  </div>
</div>
<% end %>

