  <p>
    <strong>Material:</strong>
    <%= material.mat %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= material.size %>
  </p>
  <div class="col">
  <%= link_to "Show", material, class:"btn btn-primary" %>
  <%= link_to "Edit", edit_material_path(material), class:"btn btn-secondary" %>
  <%= button_to "Delete", material, data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %>
  </div>