<div class="text-center">
	<div class="row">
		<div class="col-4">
			<h5>Material - Size</h5>
		</div>
		<div class="col">
			<h4>Average cost for past 12 months</h4>
	</div>
	<div class="row">
		<div class="col-4">
			<h1><%= @mat %> - <%= @size %>"</h1>
		</div>
		<div class="col">
			<h1><%= number_to_currency(@averageCost, :unit => "$") %></h1>
		</div>
	</div>
</div>

  <div>
  	<table style="table-layout:fixed" class="table table-dark align-middle table table-bordered text-center">
  		<thead>
  			<tr>
  				<th>Vendor</th>
  				<th>Price</th>
  				<th>Sawcut</th>
  				<th>Additional Costs</th>
  				<th>Comments</th>
  			</tr>
  		</thead>
  		<tbody>
  			<% @matquotes.each do |history| %>
					<tr>
					<th><%= history.vendor %></th>
					<th><%= history.price %></th>
					<th><%= history.sawcut %></th>
					<th><%= history.additionalCost %></th>
					<th><%= history.comment %></th>
					</tr>
			<% end %>
  		</tbody>
  	</table>

    
  </div>