<table style="table-layout:fixed" class="table table-dark align-middle table table-bordered text-center">
	<thead>
		<tr>
			<th>Vendor</th>
			<th>Price</th>
			<th>Length (ft)</th>
			<th>Ordered</th>
			<th>Sawcut</th>
			<th>Additional Costs</th>
			<th>Comments</th>
			<th>Archive</th>
			<th>delete</th>
		</tr>
	</thead>
	<tbody>
		<% @toOrder.each do |mat| %>
  			<tr>
  				<td colspan="9" class="table-light">
  					<%= render partial: "/materials/quoteEntry", locals: { mat: mat } %>
  				</td>
  				<% mat.matquotes.each do |history| %>
		  			<% if history.ordered == true then ordered = "checked" else sawcut = "" end %>
		  			<% if history.sawcut == true then sawcut = "checked" else sawcut = "" end %>
		  			<% if history.archived != true %>
			  			<tr>
							<th><%= history.vendor %></th>
							<th><%= history.price %></th>
							<th><%= history.length %></th>
							<th><input 
								data-action="click->material#orderedcheckbox" 
								class="form-check-input" 
								type="checkbox" 
								value="" 
								id="<%= history.id %>" <%= ordered %> ></th>
							<th><input 
								data-action="click->material#sawcutcheckbox" 
								class="form-check-input" 
								type="checkbox" 
								value="" 
								id="<%= history.id %>" <%= sawcut %> ></th>
							<th><%= history.additionalCost %></th>
							<th><%= history.comment %></th>
							<th><%= link_to "Archive", "/materials/currentQuotes?archiveid=#{history.id}", class: "btn btn-outline-warning" %></th>
							<th><%= button_to "Delete", history, data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %></th>
						</tr>
					<% end %>			
				<% end %>
  			</tr>
		<% end %>
	</tbody>
</table>