<%= form_with model: Material do |form| %>
  <div class="row">
    <div class="col">
      <%= form.text_field :mat, placeholder: mat.mat, class: "form-control", value: mat.mat, hidden: true %>
    </div>
    <div class="col">
      <%= form.text_field :size, placeholder: mat.size, class: "form-control", value: mat.size, hidden: true %>
    </div>
  </div>
  <%= form.fields_for :matquotes do |matquote| %>
    <div class="container text-center">
      <div class="row align-items-center">
          <div class="col-1">
            <h6><%= mat.mat %></h6>
          </div>
          <div class="col-1">
  				  <h6><%= mat.size %>" Dia.</h6>
          </div>
          <div class="col-1"><h6>Ft/Year</h6>
          </div>
          <div class="col-1">
            <%= matquote.text_field :vendor, autofocus: true, placeholder: "Vendor", class: "form-control", data: { material_target: 'quoteSubmit'} %>
          </div>
          <div class="col-1">
          <%= matquote.text_field :price, placeholder: "Price", class: "form-control", data: { material_target: 'quoteSubmit1'} %>
          </div>
          <div class="col-1">
          <%= matquote.text_field :length, placeholder: "inches", class: "form-control", data: { material_target: 'quoteSubmit2'} %>
          </div>
          <div class="col-1">
            <%= matquote.label "Ordered" %>
            <%= matquote.check_box :ordered, class: "form-check-input", data: { material_target: 'quoteSubmit3'} %>
          </div>
          <div class="col-1" >
            <%= matquote.label "Sawcut" %>
            <%= matquote.check_box :sawcut, class: "form-check-input", data: { material_target: 'quoteSubmit4'} %>
          </div>
          <div class="col-1">
            <%= matquote.text_field :additionalCost, placeholder: "Additional Cost", class: "form-control", data: { material_target: 'quoteSubmit5'} %>
          </div>
          <div class="col-2">
            <%= matquote.text_field :comment, placeholder: "Comment", class: "form-control", data: { material_target: 'quoteSubmit6'} %>
          </div>
          <div class="col-1">
            <%= form.submit "Add", class: "btn btn-primary"  %>
          </div>
          <div class="col-1">
            <%= link_to "Archive Material", "/materials/currentQuotes?archiveMatId=#{mat.id}", class: "btn btn-warning" %>
          </div>
            <%= matquote.hidden_field :archived, class: "form-control" %>
        </div>
    </div>
  <% end %>
<% end %>