  <div class="row">
    <div class="col-3">
      <h4>Select Material and Size</h4>
    </div>
    <div class="col-7">
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#newMatModal">
        New Material/Size
      </button>
    </div>
    <div class="col-2 text-right">
      <%= link_to "Current Quotes", "/materials/currentQuotes", class: "btn btn-outline-info" %>
    </div>
  </div>
  <%= form_with(model: @material) do |form| %>
    <div class="row">
      <div class="col">
        <%= form.label :Material, style: "display: block" %>
        <%= form.text_field :mat, {class: 'form-control', data: { material_target: "input", action: "keyup->material#filterSuggestions blur->material#unfocus focus->material#selectAll"}, autofocus: true } %>
        <ul data-material-target="suggestions"></ul>
      </div>
      <div class="col">
        <%= form.label :Size, style: "display: block" %>
        <%= form.select :size, @matSizes, @sizeSelect, {class: 'form-select', data: { material_target: "sizeSelect", action: "change->material#sizechange"} } %>
      </div>
      <div class="col-1">
        <div id="editBtn">

        </div>
      </div>
    </div>

    </br>
    <%= form.fields_for :matquotes do |matquote| %>
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-2">
            <%= matquote.text_field :vendor, placeholder: "Vendor", class: "form-control", data: { material_target: 'quoteSubmit'} %>
          </div>
          <div class="col-1">
          <%= matquote.text_field :price, placeholder: "Price", class: "form-control", data: { material_target: 'quoteSubmit1'} %>
          </div>
          <div class="col-1">
          <%= matquote.text_field :length, placeholder: "inches", class: "form-control", data: { material_target: 'quoteSubmit2'} %>
          </div>
          <div class="col-1">
            <%= matquote.label "Ordered" %>
            <%= matquote.check_box :ordered, class: "form-check-input", data: { material_target: 'quoteSubmit3'} %>
          </div>
          <div class="col-1" >
            <%= matquote.label "Sawcut" %>
            <%= matquote.check_box :sawcut, class: "form-check-input", data: { material_target: 'quoteSubmit4'} %>
          </div>
          <div class="col-2">
            <%= matquote.text_field :additionalCost, placeholder: "Additional Cost", class: "form-control", data: { material_target: 'quoteSubmit5'} %>
          </div>
          <div class="col-2">
            <%= matquote.text_field :comment, placeholder: "Comment", class: "form-control", data: { material_target: 'quoteSubmit6'} %>
          </div>
          <div class="col-1">
            <%= form.submit "Save Pricing", class: "btn btn-primary"  %>
          </div>
            <%= matquote.hidden_field :archived, class: "form-control" %>
        </div>
      </div>
    <% end %>
  <% end %>