<div class="card text-bg-dark">
  <div id="departments" class="text-white">
    <div data-controller="material">
      <%= form_with(model: @material) do |form| %>
        <div class="row">
          <div class="col">
            <%= form.label :Material, style: "display: block" %>
            <%= form.select :mat, @matNames, {prompt: "Select material"}, {class: 'form-select', data: { action: "change->material#matchange"} } %>
          </div>
          <div class="col">
            <%= form.label :Size, style: "display: block" %>
            <%= form.select :size, @matSizes, {prompt: "Select Size"}, {class: 'form-select', data: { material_target: "sizeSelect", action: "change->material#sizechange"} } %>
          </div>
        </div>
      <% end %>
    </div>

    </br>


    <div id="matdata">
      
    </div>

    <% @materials.each do |material| %>
      <%= render material %>
    <% end %>
  </div>

  </br></br></br>
  <%= form_for(@material) do |form| %>

    <div>
      <%= form.label :Material, style: "display: block" %>
      <%= form.text_field :mat %>
    </div>

    <div>
      <%= form.label :Size, style: "display: block" %>
      <%= form.text_field :size %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
