<div class="container">
  <div class="card text-bg-dark">
    <div id="departments" class="text-white">
      <div data-controller="material" id="newQuote">
          <div class="row">
            <div class="col-3">
              <h4>Select Material and Size</h4>
            </div>
            <div class="col-7">
              <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#newMatModal">
                New Material/Size
              </button>
            </div>
            <div class="col-2 text-right">
              <%= link_to "Current Quotes", "/materials/currentQuotes", class: "btn btn-outline-info" %>
            </div>
          </div>
          <%= form_with(model: @material) do |form| %>
            <div class="row">
              <div class="col">
                <%= form.label :Material, style: "display: block" %>
                <%= form.select :mat, @matNames, @matSelect, {class: 'form-select', data: { material_target: "material", action: "change->material#matchange"} } %>
              </div>
              <div class="col">
                <%= form.label :Size, style: "display: block" %>
                <%= form.select :size, @matSizes, @sizeSelect, {class: 'form-select', data: { material_target: "sizeSelect", action: "change->material#sizechange"} } %>
              </div>
              <div class="col-1">
                <div id="editBtn">

                </div>
              </div>
            </div>

            </br>
            <% end %>
      </div>
    <br></br>
    <div id="matdata"> <!-- Main turbo-stream div for displaying purchase history. Populates upon size selection -->
    
    </div>
  </div>
  <br></br>
</div>




<div class="modal fade" id="newMatModal" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered text-white">
    <div class="modal-content" style="background-color: #034604;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Material/Size</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for(@material) do |form| %>

        <div>
          <%= form.text_field :mat, class: "form-control", placeholder: "Material" %>
        </div>
      </br>
      <div>
        <%= form.text_field :size, class: "form-control", placeholder: "Size (inches)" %>
      </div>
      </br>
      <div class="col">
        <%= form.label "Material Type", style: "display: block" %>
        <%= form.select :materialType, options_for_select([["Select One", ""], "Steel/Iron", "Stainless", "Aluminum", "Brass/Bronze", "Nylon", "Peek"]), {}, class: "form-select" %>
      </div>
    </br>
    <div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= form.submit "Save" , class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
</div>
</div>