<div class="card text-bg-dark">
  <div id="departments" class="text-white">
    <div data-controller="material">
      <%= form_with(model: @material) do |form| %>
        <div class="row">
          <div class="col">
            <%= form.label :Material, style: "display: block" %>
            <%= form.select :mat, @matNames, {prompt: "Select material"}, {class: 'form-select', data: { material_target: "material", action: "change->material#matchange"} } %>
          </div>
          <div class="col">
            <%= form.label :Size, style: "display: block" %>
            <%= form.select :size, @matSizes, {prompt: "Select Size"}, {class: 'form-select', data: { material_target: "sizeSelect", action: "change->material#sizechange"} } %>
          </div>
        </div>
      </br>
        <%= form.fields_for :matquotes do |matquote| %>
        <%= matquote.label "Vendor" %>
        <%= matquote.text_field :vendor %>
        <%= matquote.label "Price" %>
        <%= matquote.text_field :price %>
        <%= matquote.label "Ordered" %>
        <%= matquote.text_field :ordered %>
        <%= matquote.label "sawcut" %>
        <%= matquote.text_field :sawcut %>
        <%= matquote.label "Additional Cost" %>
        <%= matquote.text_field :additionalCost %>
        <%= matquote.label "comment" %>
        <%= matquote.text_field :comment %>
        </br>
        <% end %>

        <%= form.submit %>

      <% end %>
    </div>

    </br>


    <div id="matdata">

    </div>

    <div>
        <%= link_to "New Order", "materials/newOrder", data: { turbolinks: false }, class:"btn btn-primary" %>
    </div>
      </br></br></br>
  <%= form_for(@material) do |form| %>

    <div>
      <%= form.label :Material, style: "display: block" %>
      <%= form.text_field :mat %>
    </div>

    <div>
      <%= form.label :Size, style: "display: block" %>
      <%= form.text_field :size %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>

</br>

    <% @materials.each do |material| %>
      <%= render material %>
    <% end %>
  </div>


