<%= form_with(model: material) do |form| %>

  <div>
    <%= form.label :Material, style: "display: block" %>
    <%= form.text_field :mat %>
  </div>

  <div>
    <%= form.label :Size, style: "display: block" %>
    <%= form.text_field :size %>
  </div>

    <div class="col">
    <%= form.label "Material Type", style: "display: block" %>
    <%= form.select :materialType, options_for_select([["Select One", ""], "Steel", "Stainless", "Aluminum", "Brass/Bronze", "Nylon", "Peek"]), {}, class: "form-select" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
